:root {
  --cafeClaro: #D8CABB;
  --cafeClaroOpaco: rgba(216, 202, 187, 0.7);
  --cafe: #A88F6B;
  --cafeOpaco: #B6A083;
  --verdeClaro: #A4BC00;
  --verde: #546F01;
  --sombra: #828282;
  --fontTitulos: 'Oxygen', sans-serif;
  --fontContenido: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cafeClaro);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  display:flex;
  background-color: var(--cafeOpaco);
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  align-items: center;
}

.navBarMobile {
  display: none;
  background-color: var(--cafeOpaco);
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.navLeft, .navRight {
  display: flex;
  list-style-type: none;
}

.navItem {
  margin: 1rem;
}

.navItem a{
  color: var(--verde);
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  text-decoration: none;
}

.heroBanner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.fondoBanner {
  width: 100%;
  height: 100vh;
  object-fit: unset;
}

.bannerContent {
  width: 71.875vw;
  height: 71.5vh;
  background-color: var(--cafeClaroOpaco);
  position: absolute;
  bottom: 2.813rem;
  border-radius: 1.5rem;
}

.tituloHead {
  font-family: var(--fontTitulos);
  font-size: 2rem;
  margin-left: 2.688rem;
  margin-top: 2.375rem;
}

.tituloBody {
  font-family: var(--fontTitulos);
  font-size: 3rem;
  margin-left: 2.688rem;
}

.bannerBody {
  font-family: var(--fontTitulos);
  font-size: 2rem;
  margin-left: 2.688rem;
  margin-top: 2.5rem;
  width: 47%;
  text-align: center;
}

.imgBanner {
  height: 80%;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  margin-top: 88px;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.plantasCard {
  width: 46.666666666666664vw;
  height: auto;
  border-radius: 8px;
  position: relative;
  top: 0;
  background-color: var(--verdeClaro);
  box-shadow: 6px 6px 6px var(--sombra);
}

.contenedorPlanta {
  width: 100%;
  height: 40.454076367389064vh;
  top: 0;
}

.contenedorPlanta > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardContent {
  margin: 16px 32px;
  font-size: 1em;
  font-family: var(--fontContenido);
}

 div > h1 {
  font-family: var(--fontTitulos);
  margin-left: 32px;
}

.tituloSeccionMobil {
  display: none;
  font-family: var(--fontTitulos);
  margin-left: 2vw;
}

.rowCardsMobil {
  display: none;
  width: 100vw;
  height: 60vh;
  justify-content: space-around;
}

.rowCardsMobil h1 {
  font-family: var(--fontTitulos);
  margin-top: 66%;
}

.cardContainerMobil1 {
  width: 48%;
  height: 90%;
  margin-top: 3vh;
  border-radius: 24px;
  background-image: linear-gradient(180deg, rgba(164, 188, 0, 0) 0%, rgba(164, 188, 0, 0.6) 100%), url('https://http2.mlstatic.com/D_NQ_NP_724416-MLM41851241082_052020-W.jpg');
  background-size: cover;
}

.cardContainerMobil2 {
  width: 48%;
  height: 90%;
  margin-top: 3vh;
  border-radius: 24px;
  background-image: linear-gradient(180deg, rgba(164, 188, 0, 0) 0%, rgba(164, 188, 0, 0.6) 100%), url('https://cordoba-digital.com/wp-content/uploads/2019/03/Azahar.jpg');
  background-size: cover;
}

.cardContainerMobil3 {
  width: 48%;
  height: 90%;
  margin-top: 3vh;
  border-radius: 24px;
  background-image: linear-gradient(180deg, rgba(164, 188, 0, 0) 0%, rgba(164, 188, 0, 0.6) 100%), url('https://services.meteored.com/img/article/%C2%BFcomo-y-por-que-se-mueven-los-girasoles---1_768.jpg');
  background-size: cover;
}

.cardContainerMobil4 {
  width: 48%;
  height: 90%;
  margin-top: 3vh;
  border-radius: 24px;
  background-image: linear-gradient(180deg, rgba(164, 188, 0, 0) 0%, rgba(164, 188, 0, 0.6) 100%);
  background-size: cover;
}

.footer {
  width: 100%;
  height: 4rem;
  background-color: var(--cafe);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.footerText {
  font-family: var(--fontContenido);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2vh;
}

.about-us {
  background-image: linear-gradient(rgba(164, 188, 0, 0.5), rgba(164, 188, 0, 0.5)), url('./Images/fondoAboutUs.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  width: 850px;
  height: 424px;
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 24px;
}

.about-us .titulo {
  font-family: var(--fontTitulos);
  font-weight: bold;
  font-size: 40px;
  padding: 28px;
}

.about-us .texto {
  font-family: var(--fontContenido);
  font-size: 24px;
  text-align: center;
  margin-left: 50%;
  margin-right: 8px;
}

@media only screen and (max-width: 1366px) {
  .bannerBody {
    font-size: 1.5rem;
  }

  .footerText {
    font-size: 1.2rem;
  }

  .navBar {
    height: 4rem;
  }

  .navItem a{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 850px) {
  .about-us {
    width: 83vw;
  }
}

@media only screen and (max-width: 780px) {
  .navBar {
    display: none;
  }

  .navBarMobile {
    display: flex;
  }

  .navItem a {
    font-size: 2rem;
  }

  .fondoBanner {
    display: none;
  }

  .bannerContent {
    width: 95vw;
    background-image: url('./Images/fondoBanner.png');
    background-size: cover;
  }

  .tituloSeccionMobil {
    display: inline;
  }

  .bannerBody {
    font-size: 1.3rem;
  }

  .imgBanner {
    height: 70%;
  }

  .rowCardsMobil {
    display: flex;
  }

  .rowCardsMobil h1 {
    margin-top: 43vh;
    margin-left: 7%;
  }

  .cardContainer {
    display: none;
  }

  .about-us {
    width: 95vw;
    margin-top: 3vh;
  }

  .about-us .titulo {
    text-align: center;
  }

  .about-us .texto {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
  }

  .footerText {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 680px) {
  .navItem a {
    font-size: 1.7rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
    margin-left: 7%;
    font-size: 1.5rem;
  }

  .imgBanner {
    height: 60%;
  }
}

@media only screen and (max-width: 591px) {
  .navItem a {
    font-size: 1.4rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
    margin-left: 7%;
  }
}

@media only screen and (max-width: 521px) {
  .navItem a {
    font-size: 1.1rem;
  }

  .tituloHead {
    font-size: 1.2rem;
    margin-top: 4.375rem;
  }

  .tituloBody {
    font-size: 2.5rem;
  }

  .bannerBody {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
    margin-left: 7%;
    font-size: 1.2rem;
  }

  .imgBanner {
    height: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .navItem a {
    font-size: 1rem;
  }

  .imgBanner {
    height: 40%;
  }

  .tituloHead {
    font-size: 1.1rem;
    margin-top: 4.375rem;
  }

  .tituloBody {
    font-size: 2rem;
  }

  .bannerBody {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
    margin-left: 7%;
  }

  .footerText {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 426px) {
  .navItem a {
    font-size: 0.8rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
  }

  .about-us .texto {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 380px) {
  .navItem a {
    font-size: 1rem;
  }

  .tituloHead {
    font-size: 1rem;
    margin-top: 2.375rem;
    margin-left: 1.688rem;
  }

  .tituloBody {
    margin-left: 1.688rem;
  }

  .bannerBody{
    width: 63%;
  }

  .navItem {
    margin: 1rem;
  }

  .rowCardsMobil h1 {
    margin-top: 47vh;
  }

  .footerText {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 363px) {
  .navItem a {
    font-size: 0.8rem;
  }

  .tituloHead {
    font-size: 1rem;
    margin-left: 1.3rem;
  }

  .tituloBody {
    font-size: 1.5rem;
    margin-left: 1.3rem;
  }

  .about-us .texto {
    font-size: 1rem;
  }

  .bannerBody{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 340px) {
  .rowCardsMobil h1 {
    font-size: 0.9rem;
    margin-top: 47vh;
    margin-left: 7%;
  }
}
