:root {
  --cafeClaro: #D8CABB;
  --cafeClaroOpaco: rgba(216, 202, 187, 0.7);
  --cafe: #A88F6B;
  --cafeOpaco: #B6A083;
  --verdeClaro: #A4BC00;
  --verde: #546F01;
  --sombra: #828282;
  --fontTitulos: 'Oxygen', sans-serif;
  --fontContenido: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cafeClaro);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  display:flex;
  background-color: var(--cafeOpaco);
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  align-items: center;

}

.navBar *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navLeft, .navRight {
  display: flex;
  list-style-type: none;
}

.navItem {
  color: var(--verde);
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  margin: 1rem;
}

.navItem a{
  color: var(--verde);
  font-family: var(--fontTitulos);
  font-size: 2.5rem;
  text-decoration: none;
}

.Contenido * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Contenido {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.Contenido > h1 {
  color: var(--verde);
  position: absolute;
  top: 96px;
  left: 24px;
  font-family: var(--fontTitulos);
  font-size: 4rem;
}

.cardServicios {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 28.36809176225235vh;
  flex-wrap: wrap;
  word-wrap: break-word;
  align-items: center;
  width: 39.761431411530815vw;
  height: 48.3837330552659vh;
  min-width: 17.5rem;
  min-height: 28.75rem;
  margin: 0rem 3.5rem;
  z-index: 1;
}

figure {
  width: 100%;
  height: 200px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

figure > img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.Servicio {
  display: flex;
  width: 100%;
  margin: 24px 0px;
  justify-content: center;
}

.Servicio h2 {
  font-family: var(--fontTitulos);
  font-size: 2rem;
  text-align: center;
}

.texto {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--fontContenido);
  font-size: 1rem;
  text-align: center;
  padding: .5rem;
}

.footer {
  width: 100%;
  height: 4rem;
  background-color: var(--cafe);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 1.5rem;
}

.footerText {
  font-family: var(--fontContenido);
  font-size: 1.5rem;
  text-align: center;
}

/*CAMBIOS EN TAMAÑO DEL NAVEGADOR*/

@media only screen and (max-width: 1366px) {
  .bannerBody {
    font-size: 1.5rem;
  }

  .footerText {
    font-size: 1.2rem;
  }

  .contactoTitle {
    font-size: 2.2rem;
  }

  .contactoHead {
    font-size: 1.2rem;
  }

  .inputLabel {
    font-size: 1.2rem;
  }

  .inputSend {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .navBar {
    height: 4rem;
  }

  .navItem a{
    font-size: 2rem;
  }

  .Contenido > h1 {
    font-size: 3rem;
  }
}

/*Ipad pro*/
@media only screen and (max-width: 1024px) and (min-height: 1365px){

  .navItem a {
    font-size: 2rem;
  }

  .contactoTitle {
    font-size: 2rem;
  }

  .contactoHead {
    font-size: 1rem;
  }

  .inputLabel {
    font-size: 1rem;
  }

  .inputSend {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .footerText {
    font-size: 1rem;
  }

  .cardServicios {
    height: 17em;
    width: 17em;
    min-width: 17em;
    min-height: 17em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 4rem;
    left: 38%;
  }

  figure {
    height: 14.75em;
    width: 100%;
  }

  figure > img {
    width: 14.75em;
    height: 14.75em;
    border-radius: 7.375em;
  }

  .Servicio h2 {
    font-size: 2rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }

}

@media only screen and (max-width: 1020px) {
  .navItem a {
    font-size: 2rem;
  }

  .contactoTitle {
    font-size: 2rem;
  }

  .contactoHead {
    font-size: 1rem;
  }

  .inputLabel {
    font-size: 1rem;
  }

  .inputSend {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .footerText {
    font-size: 1rem;
  }

  .cardServicios {
    height: 13em;
    width: 13em;
    min-width: 13em;
    min-height: 13em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 3rem;
    left: 40%;
  }

  figure {
    height: 10.75em;
    width: 100%;
  }

  figure > img {
    width: 10.75em;
    height: 10.75em;
    border-radius: 5.375em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  .Contenido > h1 {
    left: 37%;
  }
}

/*Ipad*/
@media only screen and (max-width: 768px) {
  .navItem a {
    font-size: 2rem;
  }

  .contactoTitle {
    font-size: 2rem;
  }

  .contactoHead {
    font-size: 1rem;
  }

  .inputLabel {
    font-size: 1rem;
  }

  .inputSend {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .footerText {
    font-size: 1rem;
  }

  .cardServicios {
    height: 13em;
    width: 13em;
    min-width: 13em;
    min-height: 13em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 3rem;
    left: 38%;
  }

  figure {
    height: 10.75em;
    width: 100%;
  }

  figure > img {
    width: 10.75em;
    height: 10.75em;
    border-radius: 5.375em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 680px) {
  .navItem a {
    font-size: 1.7rem;
  }

  .tituloHead {
    font-size: 1.3rem;
  }

  .tituloBody {
    font-size: 2rem;
  }

  .imgBanner {
    height: 60%;
  }

}

@media only screen and (max-width: 591px) {
  .navItem a {
    font-size: 1.4rem;
  }

  .contactoTitle {
    font-size: 1.8rem;
  }

  .contactoHead {
    font-size: 0.8rem;
  }

  .inputLabel {
    font-size: 0.8rem;
  }

  .inputSend {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 521px) {
  .navItem a {
    font-size: 1.1rem;
  }

  .contactoTitle {
    font-size: 1.8rem;
  }

  .contactoHead {
    font-size: 0.8rem;
  }

  .inputLabel {
    font-size: 0.6rem;
  }

  .inputSend {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .navItem a {
    font-size: 1rem;
  }

  .imgBanner {
    height: 40%;
  }

  .footerText {
    font-size: 0.9rem;
  }
}

/*Iphone x*/
@media only screen and (width: 375px) and (height: 812px) {
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .cardServicios {
    height: 12em;
    width: 12em;
    min-width: 12em;
    min-height: 12em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 2rem;
    left: 35%;
  }

  figure {
    height: 9.75em;
    width: 100%;
  }

  figure > img {
    width: 9.75em;
    height: 9.75em;
    border-radius: 4.875em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

/*pixel 2 xl*/
@media only screen and (width: 411px) and (height: 823px) {
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .cardServicios {
    height: 10em;
    width: 10em;
    min-width: 10em;
    min-height: 10em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 2rem;
    left: 35%;
  }

  figure {
    height: 7.75em;
    width: 100%;
  }

  figure > img {
    width: 7.75em;
    height: 7.75em;
    border-radius: 3.875em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

/*Iphone 6/7/8 plus */
@media only screen and (width: 414px) {
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .cardServicios {
    height: 9em;
    width: 9em;
    min-width: 9em;
    min-height: 9em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 2rem;
    left: 35%;
  }

  figure {
    height: 6.75em;
    width: 100%;
  }

  figure > img {
    width: 6.75em;
    height: 6.75em;
    border-radius: 3.375em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

/*Pixel 2*/
@media only screen and (width: 411px) and (height: 731px){
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .cardServicios {
    height: 9em;
    width: 9em;
    min-width: 9em;
    min-height: 9em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 2rem;
    left: 35%;
  }

  figure {
    height: 6.75em;
    width: 100%;
  }

  figure > img {
    width: 6.75em;
    height: 6.75em;
    border-radius: 3.375em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

/*Iphone 6/7/8*/
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .Contenido > h1 {
    font-size: 1.5rem;
  }

  .cardServicios {
    height: 8em;
    width: 8em;
    min-width: 8em;
    min-height: 8em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    font-size: 2rem;
    left: 35%;
  }

  figure {
    height: 5.75em;
    width: 100%;
  }

  figure > img {
    width: 5.75em;
    height: 5.75em;
    border-radius: 2.875em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }


}

/*Galaxy S5 y Moto G4*/
@media only screen and (width: 360px) and (height: 640px) {
  .navBar {
    height: 2rem;
  }

  }

  .footerText {
    font-size: .8rem;
  }

  .cardServicios {
    height: 7.5em;
    width: 7.5em;
    min-width: 7.5em;
    min-height: 7.5em;
    top: 2rem;
    flex-direction: row;
    margin-bottom: 32px;
  }

  .texto {
    display: none;
  }

  .Contenido > h1 {
    top: 4.5rem;
    font-size: 2rem;
    left: 34%;
  }

  figure {
    height: 5.25em;
    width: 100%;
  }

  figure > img {
    width: 5.25em;
    height: 5.25em;
    border-radius: 2.625em;
  }

  .Servicio h2 {
    font-size: 1rem;
  }

  .Contenido {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 380px) {
  .navItem a {
    font-size: 1rem;
  }

  .tituloHead {
    font-size: 1rem;
    margin-top: 2.375rem;
    margin-left: 1.688rem;
  }

  .tituloBody {
    margin-left: 1.688rem;
  }

  .bannerBody{
    width: 63%;
  }

  .navItem {
    margin: 1rem;
  }

  .footerText {
    font-size: 0.8rem;
  }
}


@media only screen and (max-width: 426px) {
  .navItem a {
    font-size: 0.8rem;
  }

  .inputEmail, .inputTel {
    width: 33vw;
  }
}



@media only screen and (max-width: 363px) {
  .navItem a {
    font-size: 0.8rem;
  }

  .inputEmail, .inputTel {
    width: 32vw;
  }

  .inputSend {
    font-size: 0.6rem;
    padding: 0.5rem;
  }

  .bannerBody{
    font-size: 0.9rem;
  }
}
